.feed
  .timeline
    - if @feed.empty?
      = render partial: "feeds/fallback"
    - else
      = render partial: "feeds/list", collection: @feed, as: :activity, cached: true
      = render partial: "shared/pagination_control", locals: { page: @feed }
