%section.timeline
  - if [@feed.today, @feed.yesterday, @feed.last_week, @feed.older_than_one_week].all?(&:empty?)
    %p
      No activities yet to show in feed
  - else
    - if @feed.today.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Today
      = render partial: "feeds/list", locals: { activities: @feed.today }

    - if @feed.yesterday.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Yesterday
      = render partial: "feeds/list", locals: { activities: @feed.yesterday }

    - if @feed.last_week.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Last week
      = render partial: "feeds/list", locals: { activities: @feed.last_week }

    - if @feed.older_than_one_week.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Earlier
      = render partial: "feeds/list", locals: { activities: @feed.older_than_one_week }