%div.timeline
  - if [@feed.today, @feed.yesterday, @feed.last_week, @feed.older_than_one_week].all?(&:empty?)
    %div.timeline-block
      %div.timeline-block-image-border
        %div.timeline-block-image
          %i.icon.ion-sad

      %div.timeline-content
        %h2
          Oh no! :(
        %p.description{:style => 'padding-right: 0'}
          No activities yet to show in feed.
          %br
          Get started by following your favorite Cardists. You will see all activity of people you follow on your feed.
  - else
    - if @feed.today.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Today
      = render partial: "feeds/list", locals: { activities: @feed.today }

    - if @feed.yesterday.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Yesterday
      = render partial: "feeds/list", locals: { activities: @feed.yesterday }

    - if @feed.last_week.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Last week
      = render partial: "feeds/list", locals: { activities: @feed.last_week }

    - if @feed.older_than_one_week.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Earlier
      = render partial: "feeds/list", locals: { activities: @feed.older_than_one_week }