%div.comment
  = link_mentions comment.content
  %p
    By
    = link_to comment.user.username, comment.user

  - if comment.updated?
    %p
      Updated
      = time_ago_in_words comment.updated_at
      ago

  - if current_user == comment.user
    %p
      = link_to "Edit", polymorphic_path([comment.commentable, comment], action: :edit)
