= simple_form_for [@sharing.video, @sharing] do |f|
  %div.field
    = f.input :user, collection: @users_to_share_with, label_method: :name_for_select, input_html: { class: "chosen-select" }

  %div.field
    = f.submit "Share"
