footer {
  @include span-columns(12, block-collapse);
  width: 100%;
  background: $main-brown image-url("footer-texture-brown.png") repeat-x;
  color: #fff;
  text-align: center;
  border-top: 10px solid;
  @include border-image(linear-gradient(90deg, $main-red, $main-blue) 100% 0 0 0);
  border-image-repeat: stretch;
  border-width: 7px 0 0 0;
  line-height: 135px;
  color: #a4a4a4;

  @include media($mobile-large) {
    display: none;
  }
}
