- if @notifications.present?
  %div
    = button_to "Mark all read", mark_all_read_notifications_path, method: :post

  %ul
    - @notifications.each do |notification|
      %li
        = notification.text
- else
  You have no notifications
