- if @notifications.present?
  %div
    = button_to "Mark all read", mark_all_read_notifications_path, method: :post

  %ul.notifications-list
    - @notifications.each do |notification|
      %li
        -# Its okay to call #html_safe here because nothing comes from the user
        = notification_text(notification)
- else
  You have no notifications
