%h1 Update profile

= simple_form_for @user do |f|
  %div.field
    = f.input :instagram_username

  %div.field
    = f.input :biography

  %div.field
    = f.button :submit

Change your profile picture with <a href="https://gravatar.com">Gravatar</a>
