= image_tag @user.gravatar_url

= link_to "Edit", edit_user_path(@user)

- if current_user.admin? && !@user.admin
  = link_to "Make admin", make_admin_user_path(@user), method: :post, data: { confirm: "Sure?" }
