#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: white;
  border: 1px solid $main-blue;
  color: $main-red;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    // background-color: darken($action-color, 15%);
    //color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin pill-button {
  @include border-top-radius($pill-border-radius);
  @include border-bottom-radius($pill-border-radius);
  text-align: center;
  height: $pill-height;
  padding: 8px 15px 8px 15px;
  color: #fff;
  resize: vertical;
  float: right;
  margin-right: 10px;
  display: inline-block;
  font-weight: normal;

  a {
    display: block;
  }

  .mini-circle-avatar {
    height: 22px;
    width: 22px;
    margin-right: 5px;
    margin-top: 2px;
    display: inline-block;
    @include border-top-radius(10px);
    @include border-bottom-radius(10px);
  }

  .username {
    max-width: 117px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 3px;
  }

  .profile-dropdown-arrow {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  .icon {
    font-size: 180%;
    vertical-align: middle;
  }
  .ion-arrow-down-b {
    font-size: 0.8em;
  }
}
.pill-button-filled {
  @include pill-button;
  background-color: $main-red;
  border: none;

  &:hover {
    background-color: $main-red-hover;
  }
  &:focus {
    background-color: $main-blue;
  }
}
.pill-button-outline {
  @include pill-button;
  border: 1px solid $main-red;
  background-color: #fff;
  color: $main-red;

  &:hover {
    border-color: $main-red-hover;
    color: $main-red-hover;
  }
  &:focus {
    border-color: $main-blue;
    color: $main-blue;
  }
}
.pill-button-new-notification {
  @include pill-button;
  background-color: $main-blue;
  border-color: none;

  &:hover {
    background-color: $medium-blue;
  }
}

.profile-pill {
  @include pill-button;
  border: 1px solid $main-red;
  background-color: #fff;
  color: $main-red;

  &:hover {
    border-color: $main-red-hover;
    color: $main-red-hover;
  }
  &:focus {
    border-color: $main-blue;
    color: $main-blue;
  }

  .mini-circle-avatar {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
  }

  .username {
    max-width: 117px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
    height: 16px;
    resize: none;
  }

  .profile-dropdown-arrow {
    display: inline-block;
    position: relative;
    top: 7px;
  }
}
