// Interactive Elements
//
// All elements a user can interact with, such as buttons or forms.
//
// Styleguide 1

// Button
//
// Standard style for all buttons.
// A button has a pill-shape with a $main-blue border, white background and $main-red text.
//
// Markup:
// <button>Click me</button>
//
// :hover - the border and text color get darkened
// :focus - we remove the browser default style and darken the colors a little bit.
//
// Styleguide 1.1
#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: white;
  border: 1px solid $main-blue;
  border-radius: $pill-border-radius;
  cursor: pointer;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  height: $pill-height;
  padding: 8px 15px 8px 15px;
  color: $main-red;
  resize: vertical;
  margin-right: 10px;
  display: inline-block;
  font-weight: normal;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken($main-blue, 20%);
    color: darken($main-red, 15%);
  }

  &:focus {
    outline: none;
    border-color: darken($main-blue, 10%);
    color: darken($main-red, 10%);
  }

  .icon {
    font-size: 180%;
    vertical-align: middle;
  }
}

// Pill Button (Filled)
//
// A button that has a pill shape and is filled with $main-red.
//
// Markup:
// <button class="pill-button-filled">Click me</button>
//
// Styleguide 1.3
.pill-button-filled {
  background-color: $main-red;
  border: none;
  color: $white;

  &:hover {
    color: $white;
    background-color: $main-red-hover;
  }

  &:focus {
    color: $white;
  }
}

// Pill Button (Outline)
//
// A pill button that is only an outline with a white background.
//
// Markup:
// <button class="pill-button-outline">Click me</button>
//
// Styleguide 1.4
.pill-button-outline {
  @include pill-button;
  border: 1px solid $main-red;
  background-color: $white;
  color: $main-red;
}

// Notification Button
//
// A pill shaped button used to show the notifications in the header bar.
// Used when there are new notifications for the user.
//
// Styleguide 1.5
.pill-button-new-notification {
  background-color: $main-blue;
  border-color: none;
  color: $white;

  &:hover {
    background-color: $medium-blue;
    color: $white;
  }

  &:focus {
    background-color: $medium-blue;
    color: $white;
  }
}

// Profile Button
//
// A pill shaped button with specific customizations to show the username, an avatar
// and an arrow icon to show that the button is a dropdown.
// Used in the header bar.
//
// Markup:
// <button class="profile-pill">
//  <span class="mini-circle-avatar" style="background: url('avatar.png')"></span>
//  <span class="username">Username</span>
//  <i class="icon ion-arrow-down-b profile-dropdown-arrow"></i>
// </button>
//
// Styleguide 1.6
.profile-pill {
  border: 1px solid $main-red;
  background-color: #fff;
  color: $main-red;
  line-height: 14px;
  padding: 0 15px 0 15px;

  .username-in-button {
    max-width: 117px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
    height: 16px;
    resize: none;
    font-size: inherit;
  }

  .profile-dropdown-arrow {
    display: inline-block;
    margin-top: 5px;
    margin-left: 3px;
    font-size: 0.8em;
  }
}
