fieldset {
  background-color: lighten($base-border-color, 10%);
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: transparent;
  border: none;
  border-bottom: $main-red-border;
  border-width: 2px;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: 20px;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 3;
  padding-left: 0;
  transition: border-color;
  width: 100%;
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;

  &:hover {
    border-color: $main-red-hover;
  }

  &:focus {
    border-color: $main-blue;
    // box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &::placeholder {
    font-size: 18px;
    vertical-align: bottom;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

