// Typography
//
// Typographic elements used throughout the site.
//
// Styleguide 2

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// Base Heading Styles
//
// The base styles used for all headings.
//
// Styleguide 2.1
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

// h1
//
// Styling for main headlines such as video titles.
//
// Markup:
// <h1 {{modifier_class}}>This is a heading</h1>
//
// .activity-title - The title of an activity on the timeline.
// .video-title - The title of a video on the show video view.
// .list-title - The title link of a list element
//
// Styleguide 2.2
h1 {
  padding: 1em 0 0em 0;
  font-size: $h1-font-size;
  font-weight: $thin;
  color: $main-red;
}
.activity-title {
  font-size: 2.8em;
  font-weight: 300;
  margin-bottom: 20px;
  width: calc(100% - 450px);
}
.video-title {
  text-align: center;
  margin-bottom: 0.2em;
}
.list-title {
  padding: 0;
  margin: 0;
}

// h2
//
// Used as section headlines.
//
// Markup:
// <h2>Section Headline</h2>
//
// Styleguide 2.3
h2 {
  font-size: $h2-font-size;
  font-weight: $thin;
  color: $main-blue;
}

// h3
//
// Used to display meta information such as dates or the number of comments.
//
// Markup:
// <h3>uploaded 2 days ago | 7 comments</h3>
//
// .video-meta - A small modifier for the show video page that makes the text smaller and adds a top margin
//
// Styleguide 2.4
h3 {
  font-family: $base-font-family;
  color: $main-blue;
  font-size: 1em;
  font-weight: normal;
}
.video-meta {
  margin-top: 20px;
  font-size: 0.8em;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


footer {
  h1 {
    font-size: 120%;
  }
}

.no-description {
  color: $medium-gray;
  font-style: italic;
}