// Typography
$base-font-family: "Open Sans", sans-serif;
$heading-font-family: "Prompt", sans-serif;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: 2.8em;
$h2-font-size: 1.3em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.5;

// Font weight
$thin: 300;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$pill-height: 44px;
$pill-border-radius: 44px;
$pill-border-radius: 44px;
$nav-width: 280px;

// Margins
$content-area-top-margin: 75px;

// Colors
$white: white;
$blue: #477dca;
$light-blue: #F3F9FB;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$layout-border-color: #D4D4D4;
$layout-content-bg-color: #F6F6F6;

$main-text: #1A1A1A;

$main-red: #FB3640;
$main-red-hover: #E8000C;

$main-blue: #247BA0;
$dark-blue: #1D3461;
$medium-blue: #1F487E;
$main-blue-hover: #dceff7;

$main-brown: #605F5E;

$error-color: tomato;
$success-color: #4F8A10;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $main-red;

// Border
$base-border-color: $light-gray;
$base-border-radous: 4px;
$base-border: 1px solid $base-border-color;
$main-blue-border: 1px solid $main-blue;
$main-red-border: 1px solid $main-red;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);