%article.embedded-video
  - if video.from_instagram?
    :erb
      <video
        class="video-js vjs-default-skin"
        controls
        preload="auto"
        poster="<%= video.thumbnail_url %>"
      >
        <source src="<%= video.url %>" type='video/mp4'>

        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser
          that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
  - else
    %iframe{ src: video.url, |
             frameborder: 0, |
             width: 1000, |
             height: 500, |
             allowfullscreen: true }
