= render partial: "filter_and_sort", locals: { filter_submit_path: @filter_submit_path }

- if @paged_videos.present?
  = render partial: "paginated_list", locals: { paged_videos: @paged_videos }
- else
  You have no videos, yet
