%h1= @video.name
= simple_format @video.description

%div
  %iframe{ src: @video.url, |
           frameborder: 0, |
           width: 500, |
           height: 300, |
           allowfullscreen: true }
