%div.grid-item
  %h2
    Ratings

  %p
    Average rating:
    = rateable.average_rating

  %div.interaction
    %ul.rate
      %div.send-ratings

        - path = polymorphic_path([rateable, :ratings])
        %li.rate-button
          = button_to "", path, method: :post, form_class: "rating-widget-form", params: { rateable.foreign_key => rateable.id, "rating" => 1 }, class: "hide-button"
          Delete now
        %li.rate-button
          Needs Work
        %li.rate-button
          Good
        %li.rate-button
          Awesome
        %li.rate-button
          Inhuman
