- if object.creditted_users.present?
  %div.grid-items-lines.credits-list
    %div.headline
      Credits
    - object.creditted_users.each do |user|
      %div.grid-item
        = image_tag(user.gravatar_url)
        %span.username
          = link_to user.username, user


