- if object.creditted_users.present?
  %div.grid-item
    %h2
      Credits
    %ul
      - object.creditted_users.each do |user|
        %li
          %span{:class => "mini-circle-avatar", :style => "background: url(#{user.gravatar_url}) no-repeat 0 0;  background-size: contain"}
          = link_to "@#{user.username}", user
