- if object.appearances.present?
  %div.grid-items-lines.appearances-list
    %div.headline
      Moves in this video

    - object.appearances.sort_by(&:value_for_sort).each do |appearance|
      %div.grid-item
        %span.timestamp
          = link_to_move_from_video(appearance: appearance)
        %span.move-name
          = link_to appearance.move_name, appearance.move
