- title t("titles.pages.contact")

%p
  Found a bug? Report it on <a href="https://github.com/davidpdrsn/cardistryio/issues">GitHub</a>

%p
  Feedback? Send me an <a href="mailto:cardistrydotio@gmail.com">email</a>
