.object-list {
  & .list-item {
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: $white;
    border-radius: $base-border-radius;
    @include shadow-level(1);
    margin-top: 25px;
    padding: 25px 15px 25px 30px;
    border-left: 3px solid $main-red;

    .attributes {
      font-size: 0.8em;
    }

    &.-move {
      .name {
        font-size: 1.2rem;
        margin-bottom: 0
      }
    }

    &.-video {
      display: flex;

      & .embedded-video {
        width: 45%;
        margin-right: 1rem;
      }

      & .video-details {
        width: 50%;

        & .name {
          font-size: 1rem;
          margin: 0;
          @include truncate;
        }

        & .author {
          font-size: 0.8rem;
          margin: 0;
          @include truncate;
        }

        & .description {
          display: none;
        }

        .attributes {
          & .type,
          & .average-ratings,
          & .total-ratings {
            display: none;
          }
        }
      }
    }
  }
}
