.pagination-container {
  @include media($mobile-large) {
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
  }

  > .pagination {
    background: $main-blue;
    padding: 11px;
    border-radius: $base-border-radius;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: relative;
    margin-bottom: 100px;
    margin-top: 1em;

    @include shadow-level(1);

    @include media($mobile-large) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.pagination {
  $component-size: 44px;

  li {
    float: left;
  }

  .pagination-nav-button {
    background: $white;
    height: $component-size;
    width: $component-size;
    line-height: $component-size;
    color: #000;

    a {
      color: $main-red;
      display: block;
    }

    &:hover {
      background: $light-blue;
    }
  }
  .disabled {
    color: $light-gray;

    &:hover {
      background: $white;
    }
  }
  .back {
    border-top-left-radius: $base-border-radius;
    border-bottom-left-radius: $base-border-radius;
  }
  .forward {
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  .pagination-text {
    color: $main-text;
    border-left: 1px solid $main-blue;
    border-right: 1px solid $main-blue;
    height: $component-size;
    line-height: $component-size;
    background: $white;
    padding: 0 10px 0 10px;
  }
}
