.ratings {
  counter-reset: step;
  overflow: hidden;
  width: calc(100% + 40px);
  height: 250px;
  border-left: none;
  position: relative;
  margin: 65px -20px 0 -20px;

  h1 {
    color: #FB3640;
    font-weight: 100;
    margin: 0 auto;
  }

  .current-rating {
    background: #247BA0;
    height: 100%;
    width: 134px;
    float: left;
    padding: 15px 25px 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      display: block;
      color: #fff;
      font-size: 30px;
      font-weight: 100;
    }

    .number {
      font-family: "Prompt", sans-serif;
      font-weight: 300;
      font-size: 40px;
      line-height: 40px;
    }
    .word {
      font-size: 15px;
    }
  }

  .interaction {
    text-align: center;
    background: $light-blue;
    height: 100%;
  }

  .rate {
    width: calc(100% - 300px);
    padding: 0;
    display: inline-block;
    margin-top: 72px;

    .ratings-disabled {
      font-size: 1.5em;
      color: $medium-gray;
      padding-top: 40px;
    }
  }
  .hide-button {
    display: none;
  }
  .rate-button {
    list-style-type: none;
    float: left;
    position: relative;
    width: 20%;
    text-align: center;

    &:before {
      content: counter(step);
      counter-increment: step;
      background: #BDD7E2;
      color: #fff;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      line-height: 60px;
      display: block;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin: 0 auto 22px auto;
      transition: all .4s ease-in-out;
      cursor: pointer;
    }

    &:hover:before {
      transform: scale(1.15);
    }

    &:first-child:after {
      content: none;
    }
  }

  .loading {
    @keyframes spin {
      from {transform:rotate(0deg);}
      to {transform:rotate(360deg);}
    }

    &:before {
      font-family: "Ionicons" !important;
      content: "\f49a" !important;
      animation-name: spin;
      animation-duration: 2000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .error {
    color: #333;

    &:before {
      background: tomato;
      font-family: "Ionicons";
      content: "\f12a";
    }
  }
  .success {
    color: #333 !important;

    &:before {
      opacity: 1.0 !important;
      font-family: "Ionicons";
      background: #4F8A10;
      content: "\f383";
    }
  }
  .disabled {
    color: $light-gray;

    &:before {
      opacity: 0.4;
      cursor: default;
      transition: none;
    }

    &:hover:before {
      transform: none;
    }
  }
  .active {
    margin-bottom: 20px;

    &:before {
      height: 70px;
      width: 70px;
      background: #65A2BC;
      border: 3px solid #247BA0;
      box-sizing: border-box;
      line-height: 64px;
      margin-top: -5px;
      margin-bottom: 17px;
    }
  }
}
