.ratings {
  font-family: "Open Sans", sans-serif;
  counter-reset: step;
  overflow: hidden;
  width: 100%;
  height: 250px;
  border-left: none;
  position: relative;
  margin: 20px -20px 0 -20px;
  z-index: 99;

  h1 {
    color: #FB3640;
    font-weight: 100;
    margin: 0 auto;
  }

  .current-rating {
    background: #247BA0;
    height: 100%;
    width: auto;
    float: left;
    padding: 15px 45px 15px 25px;

    span {
      display: block;
      color: #fff;
      font-size: 30px;
      font-weight: 100;
    }

    .number {
      font-family: "Prompt", sans-serif;
      font-weight: 300;
      font-size: 40px;
      line-height: 40px;
    }
    .word {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  .for-move {
    padding-top: 55px;
  }

  .interaction {
    text-align: center;
    margin-top: 30px;
  }

  .rate {
    width: calc(100% - 300px);
    padding: 0;
    display: inline-block;
    margin-top: 50px;

    .ratings-disabled {
      font-size: 1.5em;
      color: $medium-gray;
      padding-top: 20px;
    }
  }
  .hide-button {
    display: none;
  }
  .rate-button {
    list-style-type: none;
    float: left;
    position: relative;
    width: 20%;
    text-align: center;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: #247BA0;
      position: absolute;
      left: -50%;
      top: 30px;
      z-index: -1;
    }

    &:before {
      content: counter(step);
      counter-increment: step;
      background: #BDD7E2;
      color: #fff;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      line-height: 60px;
      display: block;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin: 0 auto 22px auto;
      transition: all .4s ease-in-out;
      cursor: pointer;
    }

    &:hover:before {
      transform: scale(1.15);
    }

    &:first-child:after {
      content: none;
    }
  }

  .success {
    &:before {
      font-family: "Ionicons";
      background: #4F8A10;
      content: "\f383";
    }
  }
  .active {
    margin-bottom: 20px;

    &:before {
      height: 70px;
      width: 70px;
      background: #65A2BC;
      border: 3px solid #247BA0;
      box-sizing: border-box;
      line-height: 64px;
      margin-top: -5px;
      margin-bottom: 17px;
    }
  }
}