header {
  @include span-columns(12);
  height: 95px;
  border-bottom: 1px solid $layout-border-color;

  .main-logo {
    float: left;
  }

  @mixin vertical-center-container($float-direction) {
    height: 95px;
    float: $float-direction;
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-end);
  }

  .mobile-search {
    display: none;
  }
  .search-field-container {
    @include vertical-center-container(left);
    margin-right: 10px;
    color: $main-red;
    position: relative;

    .search-field {
      height: 44px;
      border-radius: 44px;
      border: 1px solid $main-red;
      width: 350px;
      padding-left: 40px;
      padding-right: 20px;
      outline: none;
      transition: border-color 0.8s, color 0.8s;

      &::placeholder {
        color: $main-red;
        transition: color 1s;
      }

      &:focus {
        border-color: $main-blue;
      }
    }
    .icon {
      pointer-events: none;
      position: absolute;
      left: 0px;
      @include padding(11px 17px);
    }
  }

  .button-bar {
    @include vertical-center-container(right);
    padding-right: 8px;

    .dropdown-menu {
      @include border-top-radius(3px);
      @include border-bottom-radius(3px);
      border: 1px solid $main-blue;
      border-top-width: 10px;
      margin-top: 17px;
      padding: 0px;
      word-wrap: break-word;

      i {
        float: left;
        font-size: 200%;
        margin-right: 20px;
        color: $main-blue;
      }
      li {
        border-bottom: 1px solid $layout-border-color;
        padding: 10px 0 10px 0;

        a:hover {
          background: none;
        }

        &:hover {
          background-color: #E2EDF2;
        }
      }

      &:after {
        content:"";
        position:absolute;
        border-style:solid;
        border-color:$main-blue transparent;
        /* reduce the damage in FF3.0 */
        display:block;
        width:0;

        top:-20px; /* value = - border-top-width - border-bottom-width */
        right:12px; /* controls horizontal position */
        bottom:auto;
        left:auto;
        border-width:0 13px 10px; /* vary these values to change the angle of the vertex */
      }

      .dropdown-button-title {
        font-size: 130%;
        color: $main-blue;
        display: block;
      }
      .dropdown-button-text {
        color: $main-brown;
        font-size: 80%;
        display: block;
      }

      .notification-header {
        background-color: $main-blue;
        text-align: center;
        color: #fff;
        border-bottom: 10px solid $main-blue;
        font-size: 115%;
        padding-left: 10px;
        padding-right: 10px;

        &:hover {
          background-color: $main-blue;
        }
        .notification-count {
          background-color: $dark-blue;
          padding: 0px 8px 0px 8px;
          margin-bottom: 2px;
          text-align: center;
          display: inline-block;
          font-weight: bold;
          vertical-align: middle;
          @include border-top-radius(40px);
          @include border-bottom-radius(40px);
        }
      }
      .mark-as-read-button {
        background-color: $main-blue;
        border-bottom: none;
        text-align: center;
        font-size: 115%;
        font-weight: bold;

        a {
          color: #fff;
        }
        &:hover {
          background-color: $medium-blue;
        }
      }

    }
  }
}
