@charset "utf-8";

@import "chosen";
@import "normalize-rails";
@import "bourbon";
//@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

@import "buttons";

// Some resets
* { margin: 0; }
html, body { height: 100%; font-family: $helvetica; }





.outer-container {                    // Page wrapper
  @include outer-container(1440px);

  height: 100%;
  min-height: 100%;                   // Hacky stuff for sticky footer (https://css-tricks.com/snippets/css/sticky-footer/)
  margin-bottom: -278px;

  &:after {
    content: "";
    display: block;
  }

  header {
    @include span-columns(12);
    height: 95px;
    border-bottom: 2px solid $layout-border-color;

    .main-logo {
      float: left;
    }

    .button-bar {
      height: 95px;
      float: right;
      @include display(flex);
      @include align-items(center);
      @include justify-content(flex-end);
      overflow: auto;
      padding-right: 8px;
    }
  }

  nav {
    @include span-columns(3, block-collapse);
    height: 100%;
    border-right: 2px solid $layout-border-color;
    margin: 0;
    padding: 25px 0 0 18px;

    a {
      display: block;
    }
  }

  section {
    @include span-columns(9);
    margin: 0;
    background: #FCFCFC;
    height: 100%;
    padding: 25px 50px 50px 65px;
  }

  footer {
    @include span-columns(12);
    height: 278px;
    border-top: 2px solid $layout-border-color;
    background: #282828 url('footer-texture.png') repeat-x;
    color: #fff;
    text-align: center;
    padding-top: 30px;
  }
}







/* .main-nav {
  @include outer-container;
}

.main-footer,
.main-content {
  @include outer-container;
}

.main-footer {
  margin-top: 2rem;
  font-size: .8rem;
  color: $medium-gray;
  text-align: center;
}

.video-appearances .fields .field:only-child button {
  display: none;
}

.chosen-select {
  width: 100%;
}

.main-nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;

  a {
    display: block;
  }
}

ul li {
  list-style-type: disc;
} */
