@charset "utf-8";

@import "chosen";
@import "normalize-rails";
@import "bourbon";
//@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "bootstrap-dropdown";
@import "refills/flashes";
@import "refills/footer";
@import "ionicons";

@import "nav";
@import "header";
@import "section";
@import "mobile";
@import "timeline";

// Some resets
* {
  margin: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $base-font-family;
}


.outer-container {
  @include outer-container(100%);


  min-height: 100%;
  height: calc(100% + 105px);
  margin-bottom: -275px;

  &:after {
    content: "";
    display: block;
    height: 275px;
  }
}

.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
