@charset "utf-8";

@import "chosen";
@import "normalize-rails";
@import "video-js";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "bootstrap-dropdown";
@import "refills/flashes";
@import "refills/footer";
@import "refills/cards";
@import "refills/featured";
@import "refills/grid-items";
@import "refills/stats.scss";
@import "refills/comments.scss";
@import "ionicons";

@import "nav";
@import "header";
@import "section";
@import "mobile";
@import "timeline";
@import "show_page";
@import "profile";
@import "turbolinks";

@import "components/*";

// Some resets
* {
  margin: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $base-font-family;
}


.outer-container {
  @include outer-container(100%);

  background: $layout-content-bg-color;
  min-height: 100%;
  height: calc(100% + 82px);
  margin-bottom: -135px;

  &:after {
    content: "";
    display: block;
    height: 135px;
  }
}

.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.mini-circle-avatar {
  top: 10px;
  height: 28px;
  width: 28px;
  margin-right: 5px;
  display: inline-block;
  @include border-top-radius(14px);
  @include border-bottom-radius(14px);
}

.content-container {
  background: #fff;
  width: 100%;
  @include border-top-radius($base-border-radius);
  @include border-bottom-radius($base-border-radius);
  @include shadow-level(1);
  float: left;
  height: auto;
  margin-top: $content-area-top-margin;
  margin-bottom: $content-area-top-margin;
  padding: 20px;
}
