section {
  @include span-columns(9);
  margin: 0;
  background: $layout-content-bg-color;
  height: 100%;
  padding: 0px 50px 0px 65px;
  @include calc(width, "100% - #{$nav-width}");
  display: table;

  .profile-box {
    background: #fff;
    padding: 20px;
    width: 100%;
    @include border-top-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);
    @include shadow-level(1);
    float: left;

    .gravatar {
      width: 100%;
      height: auto;
      @include border-top-radius(100%);
      @include border-bottom-radius(100%);
    }

    .avatar {
      width: 12%;
      float: left;
    }
    .information {
      width: 64%;
      float: left;
      @include padding(null 10px null 20px);
    }
    .relationships {
      width: 24%;
      float: left;

      .circle-count {
        border: 1px solid $main-red;
        height: 100px;
        width: 100px;
        text-align: center;
        @include border-top-radius(100%);
        @include border-bottom-radius(100%);
        line-height: 1.3em;
        float: right;
        margin-right: 5px;
        margin-bottom: 5px;
        padding-top: 30px;
        

        .number {
          color: $main-red;
          font-size: 2em;
        }

        .word {
          color: $main-blue;
        }
      }
    }
  }
}

.content-area {
  border-left: 1px solid $layout-border-color;
}

