.video-content {
  background: #fff;
  width: 100%;
  @include border-top-radius($base-border-radius);
  @include border-bottom-radius($base-border-radius);
  @include shadow-level(1);
  float: left;
  height: auto;
  margin-top: $content-area-top-margin;
  margin-bottom: $content-area-top-margin;
  padding: 20px;

  .section-headline {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    background: $main-blue;
    color: #fff;
    height: 55px;
    width: 100%;
    font-size: 28px;
    line-height: 55px;
    padding-left: 25px;
  }

  .comments {
    background: $light-blue;
    margin: 10px -20px 0 -20px;

    .comment {
      padding: 20px 20px 20px 20px;
    }

    .comment ~ .comment {
      padding: 0 20px 20px 20px;
    }

  }


  .grid-items-lines {
    background: $light-blue;
    margin: 10px -20px 0 -20px;
    font-size: 0.8em;

    .timestamp {
      a {
        font-size: 1.3em;
        display: block;
      }
    }

    .move-name {
      a {
        font-size: 1.8em;
        display: block;
      }
    }
  }

  .embedded-video {
    iframe {
      width: calc(100% + 40px);
      height: 525px;
      margin-left: -20px;
      margin-right: -20px;
      margin-top: -20px;
      @include border-top-radius($base-border-radius);
    }
  }
  .author {
    width: 100%;
    text-align: center;
  }

  .video-info {
    font-size: 1.2em;
    line-height: 1.9em;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 35px;


    .comment_content {
      margin-top: 20px;
      label {
        display: none;
      }
    }

    .grid-items-lines {
      .grid-item {
        height: auto;

        h1 {
          text-align: left;
          padding: 0;
          color: $main-blue;
        }

        .mini-circle-avatar {
          position: relative;
        }
      }
    }
  }
}

.owner-actions {
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  @include shadow-level(1);
}

