%div.footer-links
  %ul
    %li
      %h3 Community
    %li
      Your Feed
    %li
      Your Stuff
    %li
      Chat

  %ul
    %li
      %h3 Media
    %li
      Videos
    %li
      Moves
    %li
      Ideas

  %ul
    %li
      %h3 Support
    %li
      Report a bug
    %li
      Contact
    %li
      FAQ

%div.credits
  <p>Created by David Pedersen and Ben Dobos | Open source on <a href="https://github.com/davidpdrsn/CardistryIO">GitHub</a></p>