%footer.footer
  Created by David Pedersen and Ben Dobos | Open source on <a href="https://github.com/davidpdrsn/CardistryIO">GitHub</a> | Follow us on <a href="http://instagram.com/cardistryio">Instagram</a>
