%ul
  %li.mobile-nav-button{:class => current_path_class('/')}
    = link_to root_path do
      %i.icon.ion-ios-list
      %span.icon-text
        Stream

  %li.mobile-nav-button{:class => current_path_class('videos/all')}
    = link_to videos_path do
      %i.icon.ion-ios-film
      %span.icon-text
        Videos

  %li.mobile-nav-button{:class => current_path_class('moves')}
    = link_to moves_path do
      %i.icon.ion-android-hand
      %span.icon-text
        Moves

  // TODO: Add screens for more and notifications
  %li.mobile-nav-button
    %a
      %i.icon.ion-android-notifications
      %span.icon-text
        Notifications

  %li.mobile-nav-button
    = link_to users_path do
      %i.icon.ion-person-stalker
      %span.icon-text
        All users
