%div.search-field-container
  = form_tag searches_path, class: "search-form", method: :get do
    %i.icon.ion-search
    = text_field_tag "query", nil, placeholder: "Search for users, moves, and videos", class: "search-field"
    = submit_tag "Search", class: "search-submit-button"
